[Unit]
Description=Create network unit file for 10GB Aquantia NIC
DefaultDependencies=no
Before=network-pre.target systemd-udevd.service
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/aquantia-mac-generator.sh

[Install]
WantedBy=sysinit.target
